ul{
    list-style: none;
}
.image{
    width: 90px;
    height: 70px;
    vertical-align: middle;
}
.nav{
    background-color: yellow;
    text-align: left;
}
.nav li{
    display: inline-block;
    font-size: 26px;
    padding: 20px;
}