body{
    margin: 0;
    padding: 0;
}

.container{
    width: 800px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.header{
    grid-column: 1 / span 3;
    background-color: red;
    text-align: center;
    padding: 12px;
}

.footer{
    grid-column: 1 / span 3;
    background-color: green;
    text-align: center;
    padding: 12px;
}

.aside1{
    background-color: yellow;
    text-align: center;
    padding: 6px;
}

.paragraph{
    background-color: aqua;
    text-align: center;
    width: 400px;
}

.aside2{
    background-color: pink;
    text-align: center;
    padding: 6px;
}

@media screen and (max-width: 720px){
    .header{
        background-color: brown;
    }

    .footer{
        background-color: aquamarine;
    }
    .aside1{
        background-color: darkgoldenrod;
    }
    .aside2{
        background-color: blueviolet;
    }
    .paragraph{
        background-color: rgb(255, 253, 131);
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media print{
    .container{
        background-color: rgb(251, 251, 251);
        color: black;
    }
}